/* Color for laypot test */
.tred{
    background-color: red;
}
.tgreen{
    background-color: green;
}
/* Color for laypot test */

/* General Area */

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container{
    /* max-width: 1170px; */
    width: 80vw;
    margin: 0 auto;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.basis{
    flex: 1 0 300px;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1 1 300px;
    min-width: 300px;
}
/* Topbar */
#topbanner{
    background-image: url();
    background-repeat: no-repeat;
}

/* About */
#about{
    background-image: url();
    background-repeat: no-repeat;
}

/* Recipe */

#recipe{
    background-image: url();
    background-repeat: no-repeat;
}

/* Customer */

#customer{
    background-image: url();
    background-repeat: no-repeat;
}


/* Contact */

#contact{
    background-image: url();
    background-repeat: no-repeat;
}

/* Footer */