/* Color for laypot test */
.tred{
    background-color: red;
}
.tgreen{
    background-color: green;
}
/* Color for laypot test */

/* General Area */
*{
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
h1{
    font-size: 60px;
    color: #575757;
}
h2{
    font-size: 42px;
    color: #575757;
}
h3{
    font-size: 36px;
    color: #575757;
}
h1 span{
    background: -webkit-linear-gradient(orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
img{
    width: 100%;
}
p{
    font-size: 20px;
    padding-bottom: 20px;
}
.container{
    /* max-width: 1170px; */
    width: 80vw;
    margin: 0 auto;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.basis{
    flex: 1 0 300px;
}
.jbtn{
    background-image: linear-gradient( red, orange);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

/* Topbar */
#topbanner{
    background-image: url("./images/background/Frame 57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* About */
#about{
    background-image: url("./images/background/7.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Recipe */
#recipe #h{
    text-align: center;
    width: 60%;
}
#recipe h2{
    text-align: center;
}

#recipe .basis{
    padding: 10px;
}
#recipe .basis p{
    padding:0 20px 20px 20px;
}
#recipe .basis h3{
    padding:0 20px 0 20px;
}
.rcard{
    background-color: white;
    /* border: 2px solid black; */
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0px 20px 3px rgba(0,0,0, .2);
}
.rcard img{
    border-radius: 20px;
    padding: 20px;
}
/* Customer */

#customer{
    background-image: url("./images/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#customer .container{
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}
#customer .overlay{
    padding: 4%;
    background-color: rgba(0,0,0, .7);
    height: 50vh;
}
#customer > .overlay p{
    text-align: center;
    color: whitesmoke;
}
#customer h3{
    padding-top: 20px;
    text-align: center;
    color: whitesmoke;
}

/* Contact */

#contact{
    background-image: url("./images/background/7.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#contact{
    text-align: center;
    padding: 50px 20px;
}
#contact h3{
    background: -webkit-linear-gradient(orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.address{
    background: -webkit-linear-gradient(orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 600;
}

.textbox{
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px 3px rgba(0,0,0, .2);
    font-size: 18px;
    color: #333;
}
#jsend{
    padding: 10px 30px;
    background-image: linear-gradient(orange,red);
    border-radius: 10px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: 0.3s linear;
}
#jsend:hover{
    color: gold;
}




/* Footer */
#footer{
    text-align: center;
    background-color: #333;
    padding: 20px;
}
#footer #footer-food{
    color: orange;
}
#footer #footer-slogan{
    color: whitesmoke;
}

